.heading
{
	font-family: Montserrat-Bold;
	font-size: 64px;
	font-size: 4.3vmax;
	line-height: 1.5;
	margin-left: 10vmin;
}

.blue
{
	color: rgb(22, 62, 233);
	border-bottom: 8px solid rgb(179, 199, 255);
}

.strike
{
	text-decoration: line-through;
}

.grid-container
{
	display: grid;
	grid-template-rows: auto auto auto;
	grid-template-columns: [column-1] 10vmin [column-2] auto;
}

.tagline
{
	font-family: Montserrat-Bold;
	font-size: 3.1vmin;
}

.text
{
	font-family: Montserrat-Regular;
	font-size: 2.8vmin;
}

.downloadimage
{
	height: 6vmin;
}

.main-image
{
	float: right; /* Выравнивание по правому краю */
	height: 60vmin;
}

@font-face
{	
	font-family: Montserrat-Bold;
    src: url(fonts/Montserrat-Bold.otf);
}

@font-face
{	
	font-family: Montserrat-Regular;
    src: url(fonts/Montserrat-Regular.otf);
}